<section class="agenda">
    <H2>Who are we ? <br>
        Why are we doing this ? <br>
        What is the purpose of this project ? <br>
    </H2>

    <p>
        RadarEvents is an agenda free of commercial interest. Is the Berlin way to announce your own events, it's a
        Meetups clone but in the Berlin way.
        RadarEvents is for groups that are challenging the status-quo: DIY, anti-capitalist, intersectional, autonomous,
        non-hierarchical, anti-fasist, anti-racist, queer-positive, squatting. Organising direct action, challenging the
        state,
        patriarchy, ableism, sanism, authority. Protecting the environment, housing, workers, ex-workers, communities.
        Working
        to make the structures of mutual aid and communal social relations we need for the future. If your group is all
        of these
        things, maybe you fit. If it's just some of them, maybe you fit too. If you're opposed to some of these, or
        don't
        challenge the status-quo, your group probably wants to languish on some other platform.
    </p>
</section>