<section class="agenda">
    <h2>RadarEvents:</h2>
    <p> An agenda free of commercial interest. A Meetup clone but in the Berlin way. Created by a community of groups announcing
    their own events and interested in anti-capitalist, intersectional, autonomous, non-hierarchical, anti-fasist,
    anti-racist and underground events.</p>

</section>
