<section>
    
    <p> RadarEvents: An agenda free of commercial interest. A Meetups clone but in the Berlin way. <br />
        Created by a community of groups announcing their own events, where the dominant power doesn't decide if it's
        worth a
        mention.</p>

</section>