<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>RadarEvents</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav class="nav-bar">
    <a href="/events">Events</a>
    <a href="/about-us">About us</a>

    {{#if session.user}}
    <a href="/auth/logout">Logout</a>
    {{else}}
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Register</a>
    {{/if}}





  </nav>

  {{{body}}}

  <script src="/js/script.js"></script>
</body>

</html>
