<h1 class="title">Login</h1>

<form action="/auth/login" method="POST">
   <label> Email
      <input type="Email" name="email">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
{{errorMessage}}
{{/if}}