<h1 class="title">Register</h1>

<form action="/auth/signup" method="POST">
   <label> Email
      <input type="email" name="email">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
{{errorMessage}}
{{/if}}