@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&display=swap');


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #c9c9c9;

}

a {
  color: #00b7ff;
  font-family: 'Special Elite', cursive;
}

h1 {
  color: 15px;
  font-family: 'Special Elite', cursive;
}


div {
  border: solid 1px #000;
  margin-bottom: 10px;
  margin-top: 10px;
}

.events-list {


}

.links {
  display: flex;
justify-content: space-between;

}
