@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&display=swap');


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}

a {
  color: #787878;
  font-family: 'Special Elite', cursive;
  font-size: 1.3rem;
  margin-top: 10px;
}

.title {
  color: 18px;
  font-family: 'Special Elite', cursive;

}


div {

  margin-bottom: 10px;
  margin-top: 10px;
}



.nav-bar {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-size: 16px;

}



.create-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 24px auto;

}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
}

form>button {
  padding: 0.3em 1.8em;
  max-width: fit-content;
}

.radarevents {
  color: #787878;
  font-family: 'Special Elite', cursive;
  font-size: 3rem;
}

p {
  font-size: 18px;
  display: flex;

  margin-top: 50px;
}

h1 {
  font-family: 'Special Elite', cursive;
}

.agenda {
  width: 60vw;
  margin: auto;
  margin-top: 15vh;
  font-size: 22px;  
}

.agenda p {
  font-size: 21px;
}
.agenda h2{
  font-family: 'Special Elite', cursive;
}
.events-list{
  border: 1px black;
}