@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&display=swap');


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ffffff;

}

a {
  color: #787878;
  font-family: 'Special Elite', cursive;
}

h1 {
  color: 15px;
  font-family: 'Special Elite', cursive;
}


div {
 
  margin-bottom: 10px;
  margin-top: 10px;
}



.nav-bar {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-size: 16px;

}


